.hero.about {
  background: url('../images/about-hero-bg-placeholder.jpg') top center no-repeat;
  position:relative;
  color: $white;
  height: 800px;
  min-height: 0;
  @include MQ(maxM) {
    height:400px;
      background: url('../images/about-hero-mobile.jpg') top center no-repeat;
  }
h1 {
  font-size:4.5em;
  text-transform: uppercase;
  text-align: center;
  @include fadeInUp();
  @include animation-delay(1s);
  @include MQ(maxM) {
    font-size:2.8em;
  }
}

}

section.shattoStory {
  padding-top: 2em;
  padding-bottom: 0em;
 
  p {
    text-align:left;
  }
  h4 {
    color: $blue;
    line-height: 85%;
    margin-bottom: 1em;
    min-height: 80px;
    margin-top: 10px;
    @include MQ(maxM){
      min-height: auto;
    }
  }

  .col-md-3 {
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 1em;
  }
  .smallLegal {
    margin-top: 75px;
   
    p {
      font-size:11px;
      text-align:center;
    }
  }
  .pods {
    margin-top: 3em;
    opacity: 1;
    
    @include MQ(M) {
      display: table;
    vertical-align: top;
    }
    @include MQ(maxM) {
      margin-top: 0;
    }
    .col-md-3 {
      
      @include MQ(M){
        display: table-cell;
      height: 100%;
      float: none;
       border-right: 1px solid $lightGrey;
      border-bottom: none;

      }
      @include MQ(maxM) {
        border:none;
        padding-bottom: 30px;
        padding-top: 30px;
        margin-bottom: 0;
        &:after {
          content:'';
          width:35%;
          height:1px;
          background: $lightGrey;
          margin:0 auto;
          position:absolute;
          bottom:0;
          left:0;
          right:0;
        }
      }
      &:last-child {
        @include MQ(maxM) {
          padding-bottom: 0;
          &:after {
            display:none
          }
        }
      }
    }
    @include transition(all .15s ease-out);
    &.visible {
      opacity: 1;

    }
  }

  .col-md-3:last-of-type {
    border: none;
  }

  p.small.center {
    margin-top:4em;
  }

  @media (min-width:$screen-md-min) {
   

    .col-md-3:last-of-type {
      border: none;
    }
  }
}

section.scheduleTour {
  color: $black;
  
  text-align: center;
  // min-height:  693px;
  .row {
    padding: 4.5em 15px 4.5em 15px;
    @include linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.95) 60%);
    @include MQ(maxM) {
      background:white;
      padding: 1em 0 3em 0;
    }
  }
  @include MQ(maxM) {
    background:white;

  }
  @include MQ(maxML) {
    @include linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.95) 55%);
  }
  h5 {
    margin-bottom: 25px;
    font-weight: 300;
    font-family: "futura-pt", sans-serif;
    font-size:1.5em;
    line-height: 1.3em;
    text-transform: inherit;
    a {
      color: black;
    }
    @include MQ(maxM) {
      font-size:1.1em;
      margin-top: 25px;
      text-align:left;
    }
  }

  img {
    max-width:480px;
    margin:0 auto;
  }
  .mobile {
    width:100%;
  }
  .btn {
    @include MQ(maxM) {
      margin-top: 35px;
      margin-bottom: 25px;
    }
  }
  
}

section.findUs {
  background: $blue;
  background: linear-gradient(to bottom, #80e1ff 0%, #00c2fe 100%);
  color: $black;
  padding: 2em 0;
  text-align: center;
  h2,h3 {
     font-family: "futura-pt", sans-serif;
  }
  h3 {
    font-size:1em;
    margin-bottom: 45px;
    @include MQ(maxM) {
      font-size:1em;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }
  h4,h5 {
    color: $white;
  }

  h4 {
    margin-top: 1em;
    font-size:1.1em;
    @include MQ(maxM) {
      font-size:2em;
    }
  }

  h5 {
    margin-top: 1.5em;
    font-size:1.5em;
    @include MQ(maxM){
      font-size:1.5em;
    }
  }
  h6 {
    font-size:1em;
    line-height: 1.3em;
    @include MQ(maxM){
      font-size:.9em;
    }
    
  }
  p {
    font-size:.95em;
    @include MQ(maxM){
      font-size:1em;
    }
  }

  .btn {
    margin-top: 1.5em;
  }

  @media (min-width:$screen-sm-min) {

  }
}