//colors

$black : #000000;
$darkGrey : #333333;
$lightGrey : #aaaaaa;
$white : #ffffff;

::selection {
  background: $white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $white; /* Gecko Browsers */
}