//colors

$black : #000000;
$blue : #00aeef;
$cautionYellow: #ffff33;
$darkGrey : #333333;
$midGrey : #777777;
$lightGrey : #aaaaaa;
$white : #ffffff;

// ::selection {
//   background: $white; /* WebKit/Blink Browsers */
// }
// ::-moz-selection {
//   background: $white; /* Gecko Browsers */
// }