.events-tours {
  position: relative;

  h2 {
    font-size: 4em;

    @include MQ(maxM) {
      font-size: 2.5em;
      margin-bottom: 15px;
    }
  }
  h3 {
    font-size: 2.8em;
    margin-bottom: 15px;

    @include MQ(maxM) {
      font-size: 2.2em;
    }
  }
  
  .hero {
    background-size: auto 385px;
    color: $white;
    height: auto;
    min-height: auto;
    &.viveVideo {
      @include MQ(maxM) {
        height:auto;
        min-height: 0 ;
        padding-bottom: 15px;
      }
    }
    @include MQ(M) {
      background:none;
    }
    @include MQ(maxM) {
     background:none;
     height: auto;
     min-height: auto;
     video {
      display:none;
     }
    }
    h1 {
      text-align: center;
      padding-top: 175px;
      text-transform: uppercase;
      @include MQ(maxM) {
        color: black;
        padding-top: 15px;

      }
    }
    
    @media (min-width:$screen-sm-min) {
     
      height: 660px;
      min-height: 0;

      h1 {
        padding-top: 400px;
      }
    }
    
  }
  .schedulePopUp {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 99;
    background:rgba(0,174,239,0.9);
    padding-top: 160px;
    text-align: center;
    display: none;
    @include MQ(maxM) {
      padding-top: 65px;
    }
    h4 {
      color:white;
      line-height: .95em;
      margin-bottom: 25px;
      font-size:2.5em;
      font-size:2.9vmax;
      font-weight:100;
      @include MQ(maxML){
        font-size:1.7em;
      }
      @include MQ(maxM) {
        font-size:2.5em;
      }
    }
    .closeSchedule {
      position: absolute;
      right:45px;
      top:15px;
      color: white;
      font-size:80px;
      padding: 10px;
      z-index: 15;
      cursor: pointer;
       @include transition(all .2s ease-out);
      &:hover {
        @include transform(scale(1.1));

      }
      @include MQ(maxM){
        font-size:44px;
        top:0px;
        right:5px;
      }
    }
    .cancelSchedule {
      cursor: pointer;
      &:hover{
        color:white;
      }
    }
    form {
      input, textarea {
        padding: 8px 5px;
        border:2px solid white;
        padding-left: 15px;
        border-radius: 24px;
        width:100%;
        font-size:15px;
        font-family: "futura-pt", sans-serif;
        font-weight: 500;
        &:focus {
          border-color:black;
        }
        @include placeholder {
          color: #c6c6c6;
          

        }
        
      }
      .btn {
          text-align: center;
          margin:0 auto;
          font-size:1.3em;
          margin-bottom: 15px;
          &:hover {
            color:black;
            background:white;
          }
          @include MQ(maxM) {
            font-size:1em;
          }
        }
      label {
        color: white;
      }
    }
  }
  section.intro {
    padding: 2em 0;
    padding-left: 15px;
    padding-right: 15px;
  position: relative;
    h2 {
      margin-bottom: 35px;
    }
    .images {
      max-width: 1100px;
      margin: 0 auto;
      position: relative;
    }
    .col-md-6>img {
      margin: 2em 0;

      img {
        width: 100%;
      }
    }
    .rightPod {
      @include MQ(M) {
        padding-left: 5px;
      }
      a {
        margin-top: 35px;
        margin-bottom: 35px;
      }
      p {
        
        @include MQ(M){
          padding: 0 15%;
        }
      }
    }
    .leftPod {
      @include MQ(M) {
        padding-right: 5px;
      }
      a {
        margin-top: 35px;
        margin-bottom: 35px;
      }
      p {
       @include MQ(M) {
          padding: 0 15%;
        }
      }
    }
  }
  .popUp {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background:rgba(255,255,255,.95);
    z-index: 10;
    height: 100%;
    display: none;
    img {
      float: left;
    }
    .white {
     // background:white;
    }
    .bigImage {
      margin-right:15px;
      float: left;
     width:100%;
     height:100%;
      img {
        
       position: absolute;
       margin:auto;
       left:0;
       right:0;
       top:0;
       bottom:0;
      }
    }
    .description {
      text-align: left;
      font-size:18px;
      color: black;
      margin:25px 15px 25px 0;
      display: none;
    }
    &.shown {
      display: block;
    }
    .closePopUP {
      position: absolute;
      top:0;
      right:30px;
      z-index: 15;
      font-size:45px;
      padding: 15px;
      cursor: pointer;
    }
  }
  
  .galleryButtons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    &.grown {
      margin-top: 150px;
    }
    @include MQ(maxM) {
      bottom:0;
    }
    .left, .right {
      @include MQ(maxM) {
        bottom:-35px;
        height: auto !important;
      }
      &::after {
        @include transition(background-color .1s ease-out);
      }
      &:active {
        .arrow {
          @include transform(scale(.95));
        }
      }
    }
    .left {
      position: absolute;
      left: 0px;
      height:400px;
      cursor: pointer;
      &:hover {
          &::after {
            background:rgba(255,255,255,.75);
          }
          .arrow {
            left:3px;
          }

      }
      .arrow {
        background: url('../images/events/arrows.png') no-repeat 0 -58px;
        width: 50px;
        height: 50px;
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        left:5px;
        z-index: 9;
        @include transition(left .1s ease-out);

      }
      &::after {
        content: '';
        background: rgba(255, 255, 255, 0.55);
        height: 400px;
        width: 60px;
        position: absolute;
        top: 0;
        left:0;
        @include MQ(maxM) {
          display: none;
        }
      }
    }
    .right {
      position: absolute;
      right: 0px;
      height:400px;
      cursor: pointer;
      &:hover {
          &::after {
            background:rgba(255,255,255,.75);
          }
          .arrow {
            right:3px;
          }
      }

      .arrow {
        background: url('../images/events/arrows.png') no-repeat 0 -3px;
        width: 50px;
        height: 50px;
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        right:5px;
        z-index: 9;
        @include transition(left .1s ease-out);

      }
      &::after {
        content: '';
        background: rgba(255, 255, 255, 0.55);
        height: 400px;
        width: 60px;
        position: absolute;
        top: 0;
        right:0;
        @include MQ(maxM) {
          display: none;
        }
      }
    }
  }
  .scheduleOverlay {
    position: relative;
    width: 100%;
    left: 0;
    //background: rgba(255, 255, 255, 0.65);
    z-index: 5;
    padding: 10px 0;
    left: auto;
    right: auto;

    &.is_stuck {
      .btn {
        //border-radius:
      }
    }
    
    @include MQ(maxM) {
      display: none;
    }
    .btn {
      background: #00aeef;
      display: inline-block;
      padding: 6px 25px;
      margin: 0 auto;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 25px;

      &:hover {
        background: lighten(#00aeef, 5%);
      }
    }
  }
  section.farm-experience {
    background: url('../images/demonstration.jpg') 0 0 no-repeat;
    background-size: auto 20em;
    color: $black;
    height: auto;
    padding: 4em 0;
    padding-top: 24em;
    padding-left: 15px;
    padding-right: 15px;

    @include MQ(maxM) {
      padding: 22em 0 2em 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    b {
      font-weight: 500;
    }
    p {
      margin-top: 15px;
    }
    svg {
      width: 100px;
      margin: 15px 0;
    }
    @media (min-width:$screen-sm-min) {
      background-position: center top;
      background-size: auto;
      // height: 850px;
      padding-top: 4em;
    }
  }
  section.caution {
    background: url('../images/warning-bar-bg.png') top left repeat-x, url('../images/warning-bar-bg.png') bottom left repeat-x;
    background-color: $cautionYellow;
    color: $black;
    padding: 4em 0;
    padding-left: 15px;
    padding-right: 15px;

    @include MQ(maxM) {
      padding: 3.5em 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  section.country-store {
    background: url('../images/child-with-spoon.jpg') 50% 0 no-repeat;
    background-size: auto 14em;
    color: $black;
    height: auto;
    padding: 2em 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16em;

    @media (min-width:$screen-sm-min) {
      background-position: center top;
      background-size: auto 557px;
      color: $white;
      height: 557px;
      padding-bottom: 2em;
      padding-top: 22em;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  section.gallery {
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;

    @include MQ(maxM) {
      padding-top: 0;
      padding-bottom: 4em;
    }
    h2 {
      padding-bottom: 1em;
    }
   
  }
}
section.sign-up {
  background-color: $white;
  background-color: rgba($white, .70);
  // bottom: 0;
  height: 6.5em;
  width: 100%;
  padding: 1em 0;
  // position: fixed;
  // z-index: 999;

  .btn {
    font-size: 2em;
  }



}