.hero.faq {

  .faqContainer {
    border: 1px solid $lightGrey;
    border-radius: 1.5em;
    margin-bottom: 1em;
    padding: .75em 1.25em;
  }

  p {
    margin: 0;
    padding: 0;
    text-align: left;

  }

  p.question {
    cursor: pointer;
    font-weight: bold;
  }

  p.answer {
    font-size: .875em;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;

    @include transition(max-height .5s ease, margin-top .7s);
  }

  p.answer.open {
    margin-top: .5em;
    max-height: 1000px;
  }

  @media (min-width:$screen-sm-min) {
    background-color: #f4f5f7;
    background: #f4f5f7 url('../images/faq-bg-placeholder.jpg') center top no-repeat;
  }
}