.footer {
  background-color: #000000;
  color: $lightGrey;
  font-size: 1em;
  padding: 5em 0 4em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 1em;
  }

  ul>li {
    font-weight: normal;
    text-transform: uppercase;
  }

  li, p {
    font-size: .813em;
    padding-bottom: .25em;
  }

  ul ul {
    padding: 0;
  }

  ul li li {
    font-size: 1em;
    text-transform: none;
  }

  a {
    color: inherit;
  }

  a:focus, a:hover, a:active {
    color: $white;
    text-decoration: none;
  }



  .shattoLogo {
    fill: $lightGrey;
    width: 205px;
    margin-top: -1em;
  }

  .shattoLogo + p {
    margin-top:1em;
  }

  @media (max-width:$screen-md-min) {
    padding: 4em 0;

    p {
      text-align: center;
    }
  }
}