.footer {
  background-color: #000000;
  color: $lightGrey;
  font-size: .65em;
  padding: 3em 0 4em 0;
  @include MQ(maxM) {
    padding:3em 0;
    text-align: center;
    color:white;
    li, p {
      font-size:16px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 30px;
  }

  ul>li {
    font-weight: normal;
    text-transform: uppercase;
  }

  li, p {
    font-size: 14px;
    padding-bottom: 6px;
    line-height: 1.30em;
    @include MQ(maxM) {
      font-size:16px;
    }

  }

  ul ul {
    padding: 0;
  }

  ul li li {
    font-size: 14px;
    text-transform: none;
  }

  a {
    color: inherit;
  }

  a:focus, a:hover, a:active {
    color: $white;
    text-decoration: none;
  }



  .shattoLogo {
    fill: $lightGrey;
    width: 205px;
    margin-top: -1em;
  }

  .shattoLogo + p {
    margin-top:1em;
  }

  .social {
    width:100%;
    float:left;
    margin-bottom: 20px;
    @include MQ(maxM) {
      text-align: center;
    }
    .icon {
      width:20px;
      height:20px;
      display:inline-block;
      margin:0 10px 0 0;
      float:left;
       path {
            fill:white;
         }
      &:hover {
        path {
          fill:white;
        }
      }
      @include MQ(maxM) {
        text-align: center;
        float:none;
        width:30px;
        height:30px;
      }
      &.email {
        // background: url('../images/social-email.svg') 0 0 no-repeat;

         width:27px;
         @include MQ(maxM){
          width:45px;
          height:30px;
         }
      }
      &.facebook {
         //background: url('../images/social-facebook.svg') 0 0 no-repeat;

      }
      &.twitter {
        // background: url('../images/social-twitter.svg') 0 0 no-repeat;
         width:23px;
         @include MQ(maxM){
          width:37px;
          height:30px;
         }
        
      }
      &.instagram {
        // background: url('../images/social-instagram.svg') 0 0 no-repeat;
      }
    }
  }

  
}