section.bottleDetail {
  p {
    font-size:18px;
    
    
    @include MQ(maxML) {
      //font-size:2.3vw;
      display:none;
    }
  }
  .bigBottle {
    [class*='col-'] {
     // padding:0;
    }
  }
  .instructions {
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
    display:none;
    @include MQ(maxML){
      display:none;
    }
    p {
      font-size:17px;
      position:relative;
      display:inline-block;
      .strong {
        font-weight:500;
      }
    }
    .leftArrow, .rightArrow {
      position:absolute;
      width:15px;
      bottom:0;
    }
    .leftArrow {
      left:-35px;
      @include transform(rotate(180deg));
    }
    .rightArrow {
      right:-35px;
    }
  }
}

section.products {
  background: $white;
  color: $black;
  padding: 4em 0;
  text-align: center;
  height: 930px;
  @include MQ(maxM) {
    padding: 0;
    height: auto;
  }
  h2 { 
    margin-bottom: 1em;
    font-size: 4em;
    @include MQ(maxL) {
      font-size:50px;
      // font-size:6vw;
    }

  }
  h2.mobile {
    border-top: 2.5px solid $black;
    border-bottom: 2.5px solid $black;
    margin: 15px auto 15px;
    display:inline-block;
    width:280px;
    @include MQ(M){
      display:none;
    }
  }
  .callOut {
  background: rgba(255, 255, 255, .65);
  padding: 20px 35px 20px 90px;
  color: black;
  border: 1px dotted $lightGrey;
  width: 420px;
 //width:15px;
  overflow:hidden;
  position: absolute;
  top: 200px;
  z-index: -1;
  display: none;
  //left:200px;
  left:0;
  right:0;
  margin:0 auto;
  display:block;
  opacity:0;
  @include transition(all .35s ease-out);
  &.active {
    left:200px;
    opacity:1;
    width: 420px;
  }
  
  
  h2, p {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size:1.7em;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    padding: 0;
  }
  .closeCallout {
    width:30px;
    position:absolute;
    top:3px;
    right:3px;
    padding:5px;
    svg {
      line {
        stroke:black;
        stroke-width:2px;
      }
    }
  }
}
  a {
    background-color: $black;
    border-radius: 2em;
    color: $white;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: .4em .8em;
    text-transform: uppercase;
  }
  a:hover, a:focus, a:active {
    background-color: $white;
    color: $black;
    text-decoration: none;
  }
  img {
    display: none;
  }
  .title {
    @include MQ(maxM) {
      img {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
  }
  @media (min-width:$screen-sm-min) {
    background: $white;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAM9CAAAAAB4LkYeAAAATklEQVR4AWN6zfSfiYGJEUSCaQb8EKKWOHWEVdBdlrA8Iw30MdLbl5iqaG4O5XoQOv6Tq5vo1PsfYvpwhSA/wkgQTTt7kEOW+BAdhaMQAIwQEXozRL0/AAAAAElFTkSuQmCC') 0 0 repeat-x;
    // ../images/grey-gradient.png
    background: linear-gradient(to bottom, #ebebeb 0%, $white 100%);

    img {
      display: inline-block;
    }
    a {
      background: none;
      border-radius: 0;
      color: $black;
      padding: 0;
      margin: 1em 0;
    }
  }
}
section.mapFinder {
  background: $black;
  color: $white;
  padding: 0;
  text-align: center;
  position: relative;

  @include MQ(maxM) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3.5em;
    padding-bottom:3.5em;
    a {
      font-size:16px;
    }
    h3 {
      font-size:30px;
    }
  }
  a {
    color: inherit;
  }
  &.footerLocate {
    @include MQ(maxM) {
      padding-top: 2em;
      padding-bottom: 1em;
    }
  }
  .form-control {
    @include MQ(maxM) {
      width: 70%;
      margin: em(8) 2.5px em(25) 2.5px;
      float: left;
      border:2px solid white;
      margin-bottom: 0;
    }
    &.btn {
       width: 25%;
       max-width:100px;
       padding-top:6px;
       padding-bottom: 6px;
       padding-left: 0;
       padding-right: 0;
      &:active{
        background:white;
        color: black;
      }
    }
  }
  form {
    input {
      border:2px solid white;

      &.error {
      border:2px solid #a94442;
    }
    }
    @include MQ(maxM) {
      width:100%;
      max-width:300px;
      text-align: center;
      margin:0 auto;

    }
  }
  p.mobile {
    width:100%;
    float: left;
  }
  .setHeight {
    height: 300px;
    @include MQ(maxM) {
      height: auto;
    }
  }
  @include MQ(M) {
    background: $black url('../images/home/mapBG.jpg') center center no-repeat;

    .setHeight {
      height: 500px;
    }
  }
  @include MQ(L) {
    .setHeight {
      height: 747px;
    }
  }
  .findText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    max-width: 560px;
    @include transform(translate(-50%, -50%));

    h3 {
      font-size: em(30);
      font-weight: 300;
      margin-bottom: em(8);

      @include MQ(M) {
        font-size: em(35);
      }
      @include MQ(L) {
        font-size: em(55);
      }
    }
    @include MQ(maxM) {
      position: static;
      max-width: none;
      width: 100%;
      @include transform(translate(0, 0));

      h3 {
        font-size: 32px;
      }
    }

    @include MQ(maxXS){
      
      h3 {
       font-size:24px; 
      }
    }
  }
}
section.signUp {
  background: url('../images/home/signUpBg.jpg') 50% -1px no-repeat;
  background-size:100%;
  @include MQ(maxM) {
    background-size: cover;

  }
  color: $white;
  padding: 3em 0;
  text-align: center;
  h2 {
    font-size:4em;
      line-height: .9em;
  }
  p {
    font-size:1.2em;
  }
  input {
    min-width: 300px;
  }
}
section.tours {
  background: $white;
  color: $black;
  padding: 3.5em 0;
  text-align: center;
  //min-height: 500px;
  @include MQ(maxM) {
    min-height: none;
    padding-top: 3em;
    padding-bottom: 3em;
    h3 {
      margin-bottom: 25px;
      font-size:28px;
    }
    p {
      margin-bottom: 35px;
      font-size:20px;
    }
  }
  .btn {
    background-color: $black;
    color: $white;
    display: inline-block;
    float: none;
  }
  .btn:hover, .btn:focus, .btn:active {
    background-color: $white;
    color: $black;
  }
  @media (min-width:$screen-sm-min) {
    background: $black url('../images/tours-bg-placeholder.jpg') no-repeat;
    color: $white;
    text-align: left;
    h3 {
      margin-bottom: .3em;
      font-size:4.5em;
      line-height: .9em;
    }
    p {
      margin-bottom: 2em;
      font-size:1.2em;
    }
    .btn {
      background-color: $white;
      color: $black;
      font-size:1.2em;
    }
    .btn:hover, .btn:focus, .btn:active {
      background-color: $black;
      color: $white;
    }
  }
}