.mapContainer {
	padding: 0;
	position: relative;
}
.mapOverlay {
	// display: none;
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 55;
	width: 100%;
	height: 100%;
	.geoCode, .resetGeo {
		color:white;
		font-size:.85em;
		margin-top: 10px;
		width:300px;
		text-align: center;
		display:inline-block;
		text-decoration: underline;
		margin-left:20px;
		float:left;
		text-align: left;
		@include MQ(maxM) {
			width:100%;
			float:none;
			text-align: center;
			margin-left: 0;
		}

	}
	.resetGeo {
		display:none;
		text-decoration: none;
		font-size:1.1em;
		a {
			color:white;
			font-weight:700;
			text-decoration: underline;
		}
	}
	@include MQ(maxM) {
		top:0px;
		background:none;
		position:relative;
		height:auto;
		float: left;
		.findInput {
			top:-335px !important;
			input {
				font-size:16px;
			}
		}
	}
	@include transition(all .35s ease-out);
	&.shrink {
		background: none;
		@include MQ(M){
			height:250px;
		}
		
		

		.findInput {
			top:50%;
			input {
			font-size:1em;
		}
		}
		
		@include MQ(maxM){
			top:0;
		}
	}
	.findInput {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 40%;
		// max-width:400px;
		// min-width:280px;
		width: 400px;
		text-align: center;
		position: absolute;
		.search {
			float: left;
			padding:.85em 1em;
			font-size:1em;
			margin-left:12px;
			border-radius: 50px;
			@include MQ(maxM) {
				display:none;
			}
		}
		input {
			padding:.85em 1em;
			border-radius: 50px;
			font-size:1.12em;
			font-weight:500;
			width:300px;
			float:left;
			outline:none !important;
			&:focus {
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.035), 0 0 8px rgba(255, 255, 255, 0.9);
			}
			@include MQ(maxM) {
				width:100%;
			}
			@include placeholder {
				font-style:italic;
				font-weight:300;
			}
		}
		@include transition(all .35s ease-out);
		@include MQ(maxM){
			top:-335px;
			max-width:100%;
			width:100%;
			border-radius: 0;
			input {
				border-radius: 0;
				border-left:0;
				border-right:0;

			}
		}

	}
}
#jlocator {
	width: 100%;
	float: left;
	height: 600px;
	min-height: 600px;
	height: 85vh;
	@include MQ(maxM) {
		min-height: 0;
		margin-top: 0px;
		height:auto;
		min-height: 0;
		
	}
	.map {
		width: 100%;
		height: 100%;
		position: absolute;
		float: right;
		background-color: #a5bfdd;
		@include MQ(maxM){
			position:relative;
			margin-top: 35px;
		}
	}
	.hidden {
		display: none;
	}
	.controls {
		background: #fff;
		padding-bottom: 5px;
		width: 96%;
		padding: 0 2%;
		float: left;
		border-bottom: 1px solid #e3e3e3;
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
		@include MQ(maxM){
			width:100%;
			//margin-top:35px;
		}
	}
	.autocomplete {
		display: block;
		float: left;
		text-indent: 5px;
		width: 150px;
		height: 20px;
		border: 1px solid #ddd;
		margin: 5px 5px 5px 0;
	}
	.stores {
		overflow: auto;
		//height: 550px;
		display: none;
		@include MQ(maxM) {
			display:block;
			float: left;
			height:auto;
		}
	}
	.store {
		cursor: pointer;

		p {
			padding: 3px 7px;
			margin: 0;
			border-bottom: 1px dashed #ccc;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 1px 1px 1px #fff;
			@include MQ(maxM) {
				padding-top:15px;
				padding-bottom: 15px;
			}
			span {
				display:block;
				padding:1px 0;
				font-size:1.45em;
				&.address, &.phone {
					font-size:.9em;
				}
			}
		}
		&:hover {
			background-color: lighten(#d1d1d1,15%);
		}
	}
	.active {
		background-color: #dfe5ff;
	}
	.title {

		font-size: 18px;
		font-weight: 500;
		color: #000000;
		margin-bottom: 5px;
	}
	.tags {
		color: #7f4f24;
	}
	.info-window {
		.store {
			p {
				border: 0;
				font-size: 16px;
			}
			&:hover {
				background-color: #fff;
			}
		}
		.active {
			background-color: #fff;
		}
		.directions {
			display: none;
		}
	}
	.country {
		padding-right: 20px;
	}
	.directions {
		label {
			color: #1e87aa;
			background: url(../img/icons/directions.png) no-repeat 0 50%;
			padding-left: 10px;
			cursor: help;
		}
		input {
			border: 1px solid #aaa;
			height: 1.16em;
			width: 200px;
			margin-left: 10px;
		}
	}
	.search-within-radius {
		.drop-down {
			margin-right: 5px;
		}
		.autocomplete {
			width: 130px;
			margin-right: 5px;
		}
		.distance {
			margin-top: 6px;
		}
	}
	.no-results p {
		text-align: center;
		padding: 20px 0;
	}
	> .panel {
		width: 40%;
		float: left;
	}
}
@include MQ(maxM){
	#jlocator {
		font-size: 13px;
		line-height: 18px;

		.map {
			width: 100%;
			height: 300px;
		}
		.controls {
			// padding-top: 10px;
			// padding-bottom: 10px;

			.box {
				width: auto;
			}
		}
		.stores {
			max-height: 300px;
			width:100%;
			overflow:scroll-y;
		}
		> .panel {
			width: 100%;
			height: auto;
		}
	}
}
.jplist-hidden {
	display: none;
}
.reset-box {
	margin: 4px 5px 5px 0;
}
.jplist-select {
	border: 1px solid #ddd;
	height: 23px;
}
.jplist-btn {
	display: inline-block;
	padding: 3px 10px;
	margin-bottom: 0;
	color: #333;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	background-color: #f5f5f5;
}
.drop-down {
	float: left;
	width: 130px;
	height: 22px;
	border: 1px solid #ddd;
	margin: 5px 5px 5px 0;

	.panel {
		float: left;
		width: 125px;
		height: 22px;
		line-height: 22px;
		overflow: hidden;
		background: #fff url(../img/icons/down.png) no-repeat 99% 50%;
		cursor: pointer;
		margin: 0;
		padding: 0 0 0 5px;
	}
	ul {
		position: relative;
		top: 0;
		left: -1px;
		z-index: 1000;
		width: 130px;
		display: none;
		overflow: hidden;
		background-color: #fff;
		border: 1px solid #ccc;
		list-style: none;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0 0 3px 3px;
		margin: 0;
		padding: 0;

		li {
			cursor: pointer;
			width: 130px;
			float: left;
			background-color: #fff;
			padding: 0 0 0 5px;

			&:hover {
				background-color: #ececec;
			}
		}
	}
	&:hover .panel {
		background: #fff url(../img/icons/down-dark.png) no-repeat 99% 50%;
	}
}
.filter {
	float: left;

	input {
		display: block;
		float: left;
		text-indent: 5px;
		width: 150px;
		height: 20px;
		border: 1px solid #ddd;
		margin: 5px 20px 5px 0;
	}
}
.search-title {
	margin: 5px 10px 0 0;
}
.filter-buttons {
	float: left;
	clear: left;
	margin: 10px 20px 0 0;

	input {
		vertical-align: bottom;
		background: #fff;
		border: 1px solid #0c5f1f;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		color: #0c5f1f;
	}
}
.paging {
	float: left;
	margin: 5px 20px 5px 0;

	span {
		cursor: pointer;
		color: #0381bb;
		margin: 0 10px 0 0;
	}
	.current {
		font-weight: 700;
		color: #f03800;
	}
}
.pagingprev {
	float: left;
}
.pagingmid {
	float: left;
}
.pagingnext {
	float: left;
}
.paging-results {
	float: left;
	margin: 5px 20px 5px 0;
}
.radio-filters {
	float: left;
	margin: 5px 15px 0 0;

	input {
		vertical-align: baseline;
	}
	label {
		margin-right: 10px;
	}
}
.radio {
	float: left;
}
.cb-group-filter {
	float: left;
	margin: 5px 5px 0 0;
	padding-left: 15px;
	border: 1px dotted #9fc2ce;

	.cb {
		float: left;
		margin-right: 10px;

		input {
			vertical-align: text-top;
		}
	}
}
.jplist-sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background: #f1f1f1;
	padding-bottom: 5px;
}
.range-slider {
	float: left;
	margin-top: 5px;

	.value {
		float: left;
		margin: 0 15px;
		font-size: 12px;
	}
	.ui-slider {
		float: left;
		width: 130px;
	}
}
.ui-slider {
	margin-top: 5px;
}
.filter-button.selected {
	border: 1px solid #ca3f1a;
	color: #ca3f1a;
}