/* Overlay style */

/* Overlay closing cross */

/* Menu style */

/* Effects */

$overlayDelay: .35s;

.smaller {
	.overlay {
		top: 60px;
	}
}
.overlay {
	position: fixed;
	height: 100%;
	top: 100px;
	background: rgba(255, 255, 255, 0.98);
	z-index: 999;
	visibility: hidden;
	width: 0;
	left: 50%;
	@include transform(translate(-50%, 0));
	@include transition(all .35s ease $overlayDelay);

	@include MQ(maxM) {
		top: 70px;
	}
	.row {
		position: relative;
	}
	.overflow {
		overflow: visible;
	}
	.overlay-close {
		opacity: 0;
		-webkit-transition: opacity 0.3s 0.5s;
		transition: opacity 0.3s 0.5s;
		position: absolute;
		right: 0%;
		top: 10px;
		overflow: hidden;
		border: none;
		color: transparent;
		outline: none;
		z-index: 999;
		color: red;
		font-size: 45px;
		display: block;
		color: black;
		font-family: "futura-pt", sans-serif;
		cursor: pointer;
		padding: 15px;

		@include MQ(maxM) {
			top: 0px;
		}
	}
	.productShot {
		text-align: center;
		position: relative;
		//left: 10%;
		top: 50px;
	}
	#overlay_image {
		width: auto;
		height: auto;
		position: relative;
		opacity: 1;
		@include transition(opacity 0.25s ease-out);
		//max-height: 400px;

		@include MQ(maxM) {
			display: none;
		}
		&.hideIt {
			opacity: 0;
		}
		&.half-gallon, &.non-dairy {
			max-width: 600px;
			position: relative;
			left: -50px;

			@include MQ(maxL) {
				left: -85px;
			}
			@include MQ(maxML) {
				max-width: 550px;
				left: -150px;
			}
		}
		&.Quart {
			max-width: 400px;
			position: relative;

			@include MQ(maxML) {
				max-width: 350px;
			}
		}
		&.butter {
			max-width: 500px;
			margin-top: 100px;

			@include MQ(maxL) {
				left: -50px;
			}
			@include MQ(maxML) {
				left: -100px;
			}
		}
		&.bar, &.Pint, &.cheese_curds {
			max-width: 550px;
			margin-top: 30px;
			left: -35px;

			@include MQ(maxL) {
				max-width: 450px;
				left: 0;
			}
			@include MQ(maxL) {
				left: -100px;
				margin-top: 100px;
			}
		}
		&.artisan_cheese {
			max-width: 500px;
			margin-top: 130px;
		}
		&.missing {
			max-width: 300px;
			left: 8%;
			top: 50px;
			width: 30%;
		}
	}
}
.overlay.open {
	visibility: visible;
	width: 100%;
	@include transition(all .35s ease);
	overflow-y: scroll;

	@include MQ(maxM) {
		padding-bottom: 50px;
		background: white;
	}
	.productInfo {
		opacity: 1;
	}
	.overlay-close {
		opacity: 1;
		-webkit-transition-delay: 0.5s;
		transition-delay: 0.5s;
	}
}
.overlay.close {
	.productInfo {
		opacity: 0;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	.overlay-close {
		@include transition-delay($overlayDelay);
	}
}
// Info in overlay
.productInfo {
	opacity: 0;
	@include transition(all .35s ease-out $overlayDelay);

	ul {
		list-style: none;
		padding: 0;
		padding-bottom: 15px;

		li {
			font-size: 50px;
			margin: 0;
			padding: 0;
			text-align: left;
			line-height: 45px;

			@include MQ(maxM) {
				font-size: 24px;
				line-height: 26px;
			}
		}
	}
	.flavors {
		margin-top: 35px;
		margin-bottom: 15px;
		font-family: "futura-pt", sans-serif;

		@include MQ(maxM) {
			margin-top: 55px;
		}
	}
}
.nutritionFacts {
	padding: 15px;
	border: 2px solid black;
	background: white;

	p, h1, h2, h3, h4, h5 {
		margin: 0;
		padding: 0;
	}
	span {
		font-weight: 400;

		&.bold {
			font-weight: 700;
		}
	}
	p {
		font-size: 15px;
	}
	h2 {
		font-weight: 700;
		font-size: 35px;
		line-height: .9em;
		margin-top: 0px;
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid black;

		@include MQ(maxM) {
			border-bottom: 1px solid black;
		}
	}
	h3 {
		font-size: 26px;
		line-height: .8em;
		margin-top: 5px;
	}
	.reducedPadding {
		padding-left: 7.5px;
		padding-right: 7.5px;

		@include MQ(maxM) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.border {
		border-bottom: 2px solid black;

		&.smaller {
			border-width: 1px;
		}
	}
	.tableRow {
		display: table;
		margin-bottom: 5px;
	}
	.nutFacts, .servingSize, .calories {
		// @include MQ(M) {
			// 	float: none;
			// 	display: table-cell;
			// 	vertical-align: top;
			//
		
	}
	.nutFacts {
		// border-right: 1px solid black;

		@include MQ(maxML) {
			h2 {
				font-size: 26px;
			}
		}
		@include MQ(maxM) {
			border: none;

			h2 {
				font-size: 30px;
			}
		}
	}
	.servingSize {
		//padding-top: 3px;

		p {
			border-bottom: 1px solid black;
			padding-bottom: 5px;

			@include MQ(maxM) {
				padding-bottom: 8px;
				border-width: 8px;
				margin-top: 5px;

				span {
					float: right;
				}
			}
		}
		@include MQ(maxL) {
			margin-top: 5px;
		}
		@include MQ(maxML) {
			padding-top: 0;
		}
		@include MQ(maxM) {
			padding-top: 7px;
		}
		//border-bottom: 1px solid black;
		margin-bottom: 5px;
		padding-bottom: 5px;

		@include MQ(maxM) {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		h3 {
			span {
				display: none;
			}
			@include MQ(maxM) {
				font-size: 20px;
				font-weight: 500;

				span {
					display: inline;
				}
			}
		}
	}
	.calories {
		//padding-top: 3px;

		@include MQ(maxL) {
			margin-bottom: 10px;
		}
		@include MQ(maxM) {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		h2 {
			border-bottom: 0;
			float: left;
			margin-right: 5px;

			@include MQ(maxM) {
				float: right;
				font-size: 60px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		p {
			border-bottom: 0;
			font-size: 12px;
		}
		h3 {
			font-size: 24px;
			text-transform: none;
		}
		.closeUp {
			float: left;

			h3 {
				@include MQ(maxM) {
					font-size: 36px;
					margin-top: 5px;
					padding-top: 0;
				}
			}
			p {
				@include MQ(maxM) {
					font-size: 16px;
				}
			}
		}
		@include MQ(maxM) {
			text-align: left;
			border: none;
			padding-top: 0;
		}
		@include MQ(maxML) {
			padding-top: 0;

			h3 {
				font-size: 18px;
				padding-top: 5px;
			}
		}
	}
	.topPart {
		h5 {
			font-size: 18px;
			//border-bottom: 3px solid black;
			padding-bottom: 3px;
		}
		@include MQ(maxM) {
			margin-top: 0px;
			margin-bottom: 8px;

			h5 {
				font-size: 16px;
				border-top: 5px solid black;
				padding-top: 8px;
				font-weight: 500;
			}
		}
	}
	.stats {
		.col-sm-6 {
			&:first-child {
				border-right: 1px solid black;

				@include MQ(maxM) {
					border: none;
				}
			}
			&:last-child {
				@include MQ(maxM) {
					.topPart {
						display: none;
						border-top: none;
					}
				}
			}
		}
	}
	.table {
		margin-bottom: 0;

		tr {
			&:first-child {
				border-top: 3px solid black;

				@include MQ(maxL) {
					border-top: none;
					border-bottom: none;
				}
			}
			&:last-child {
				border-bottom: 3px solid black;

				@include MQ(maxL) {
					border-bottom: none;
					border-top: none;

					td {
						border-bottom: 0;
					}
				}
			}
		}
		td {
			border: 1px solid black;
			font-size: 15px;
			padding: 3px 2px 3px 8px;
			font-weight: 700;

			&:first-child {
				border-left: 0;
				text-align: center;

				@include MQ(maxML) {
					width: 60px;
				}
			}
			&:last-child {
				border-right: 0;
			}
			&.child {
				padding-left: 18px;
				font-size: 14px;
				font-weight: 100;
			}
			span.lighter {
				font-weight: 300;
				margin-left: 5px;
				font-size: 14px;
			}
		}
	}
	.bottomList {
		@include MQ(maxML) {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		ul {
			margin: 10px 0 0 0;
			padding: 0;

			li {
				font-size: 14px;
				float: left;
				list-style: disc;
				margin: 0 10px 5px 0;
				padding: 0;
				line-height: 1em;
				list-style-position: inside;

				&:first-child {
					list-style: none;
				}
			}
		}
	}
	.dailyValues {
		p {
			margin-bottom: 0;
			line-height: 1em;
			font-size: 14px;

			&:first-child {
				border-top: 1px solid black;
				padding-top: 10px;
				@include MQ(maxM) {
					border-width:3px;
				}
			}
			@include MQ(maxML) {
				text-align: left;
			}
		}
	}
	.middle {
		border-right: 1px solid black;

		@include MQ(maxML) {
			border-right: none;
		}
		.dailyValue {
			margin-right: 10px;
		}
		.title {
			margin-right: 3px;
		}
		.column {
			@include MQ(maxM) {
				p {
					&:last-child {
						border-bottom: 1px solid black;
						padding: 0px 0 3px 0;
						margin-bottom: 3px;
					}
				}
			}
			&:last-child {
				p {
					border-bottom: none;
				}
				margin-bottom: 5px;
			}
		}
		p {
			font-size: 10px;

			span {
				&.bold {
					font-weight: 700;
				}
			}
		}
	}
	.attributes {
		margin-top: 5px;

		ul {
			padding: 0;
			margin: 0;
			list-style: inherit;
			list-style-position: inside;

			li {
				padding: 0;
				margin: 0 6% 3px 0;
				float: left;
				font-size: 10px;
				line-height: inherit;

				&:first-child {
					list-style: none;
				}
			}
		}
	}
	.footnotes {
		padding-left: 0;

		p {
			padding: 0 10px;
		}
		@include MQ(maxL) {
			padding-left: 7.5px;
		}
		@include MQ(maxML) {
			padding-left: 15px;
			padding-top: 10px;
		}
	}
	.verticalBorder {
		height: 100%;
		width: 1px;
		background: black;
	}
}
.ingredients {
	margin-top: 15px;
	//background: white;

	@include MQ(maxM) {
		padding-bottom: 100px;

		p {
			font-size: 14px;
		}
	}
}