#mobileCollapse {
	// Mobile Category Links
	.mobileCategory {
		display: none;
		@include MQ(maxM){
			display: block;
			color: black;
			font-size:40px;
			text-align: center;
			border-top:1px solid black;
			border-bottom:1px solid black;
			background:black;
			color: white;
			@include transition(all .15s ease-out);
			&.collapsed {
				background:white;
				color: black;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}

.productPage {
	position: relative;
	margin-bottom: 1.5em;
	@include MQ(M){
		display: block !important;
		height:  auto !important;
	}
	@include MQ(maxM) { 
		padding-top: 50px;
	}
			
	&section {
		background: white;
	}
	&.hero {
		background: url('../images/products/woodPlank.jpg') 50% 0 no-repeat;
		height: 600px;
		padding-top: 175px;
		position: relative;

		@include MQ(maxM) {
			background: white;
			height: auto;
			padding-top: em(60);
		}
		p {
			margin-top: em(15);
			font-size: em(20);
		}
		h1 {
			font-size: em(120);
			margin-bottom: 0;
		}
	}
	.caps {
		@include MQ(maxM) {
			display: none;
		}
		.cap {
			@include transition(all .45s ease-out);
			position: absolute;
			max-width: none;

			img {
				width: auto;
				max-width: none;

				@include MQ(maxL) {
					max-width: 270px;
				}
			}
		}
		.brownCap {
			left: 0;
			bottom: em(65);
			@include transform(translateX(-100px));

			&.shown {
				@include transform(translateX(0px));
			}
		}
		.goldCap {
			left: 2.1em;
			bottom: 12.125em;
			@include transform(translateX(-150%));

			&.shown {
				@include transform(translateX(0%));
			}
		}
		.redCap {
			top: - em(40);
			left: 17em;
			@include transform(translateY(-150%));

			&.shown {
				@include transform(translateY(0%));
			}
		}
		.blackCap {
			top: 0;
			left: 0;
			@include transform(translateY(-150%));

			&.shown {
				@include transform(translateY(0%));
			}
		}
		.silverCap {
			right: -5em;
			bottom: 3.9em;
			@include transform(translateX(100%));

			&.shown {
				@include transform(translateX(0%));
			}
		}
		.LBCap {
			right: 12%;
			bottom: 5.5em;
			@include transform(translateX(250%));

			&.shown {
				@include transform(translateX(0%));
			}
		}
		.clearCap {
			right: -6em;
			top: -3em;
			@include transform(translateX(250%));

			&.shown {
				@include transform(translateX(0%));

				@media only screen and (max-width:1785px) {
					@include transform(translateX(100%));
				}
			}
		}
		.yellowCap {
			top: 0;
			left: 36em;
			@include transform(translateY(-150%));

			&.shown {
				@include transform(translateY(0%));

				@media only screen and (max-width:1670px) {
					@include transform(translateY(-150%));
				}
			}
		}
		.greenCap {
			bottom: 4em;
			left: 17.9375em;
			@include transform(translateY(-250%));

			&.shown {
				@include transform(translateY(0%));
			}
		}
		.pinkCap {
			top: -.8em;
			right: 30%;
			z-index: 5;
			@include transform(translateY(-250%));

			&.shown {
				@include transform(translateY(0%));
			}
		}
		.blueCap {
			top: -.3em;
			right: 12%;
			z-index: 5;
			@include transform(translateY(-250%));

			&.shown {
				@include transform(translateY(0%));

				@media only screen and (max-width:1785px) {
					@include transform(translateX(80px));
				}
			}
		}
	}
	.subMenu {
		position: absolute;
		bottom: -5px;
		width: 100%;
		z-index: 1;
		@include MQ(maxML) {
			display: none;
		}
		@include MQ(maxML) {
			bottom: 3.375em;
		}
		.table {
			display: table;
			margin: 0 auto;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;

			li {
				white-space: nowrap;
				margin-right: em(9);
				margin-left: em(9);
				display: inline;

				a {
					color: white;
					background: black;
					padding: em(4) em(25);
					border-radius: em(40);
					display: inline;
					text-transform: uppercase;
					font-size: em(20);
					text-decoration: none;

					@include MQ(maxL) {
						font-size: em(17);
					}
					@include MQ(maxML) {
						font-size: em(15);
					}
				}
			}
		}
	}

	.productTitle {
		position: relative;

		h2 {
			font-size: em(140);
			background: white;
			padding: 20px 40px;
			position: relative;
			z-index: 9;
			display: inline-block;

			@include MQ(maxM) {
				font-size: em(45);
			}
		}
		.lines {
			height: 3px;
			width: 0%;
			opacity: 0;
			position: absolute;
			top: 50%;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			left: 0;
			right: 0;
			margin: 0 auto;
			@include transition(width .3s ease-out, opacity .5s ease-out);

			
		}
	}
	// Visible scroll class animations
	&.visible {
		.lines {
				width: 90%;
				opacity: 1;
		}
		.productImages {

		.onePercent {
				max-width:210px;
				margin-top: 6%;
				z-index: 9;
				right:37%;
				@include MQ(maxM) {
					max-width: 250px;
					margin-top: 0;
				}
				@include MQ(maxM){
					max-width:230px;
				}
				
			}
			.twoPercent {
				max-width:175px;
				margin-top: 9%;
				z-index: 8;
				right:68%;
				@include MQ(maxM) {
				max-width: 250px;
					margin-top: 0;
				}
				
			}
			.whole {
				max-width:150px;
				margin-top: 8%;
				z-index: 8;
				right:-39%;
				@include MQ(maxM) {
				max-width: 250px;
					margin-top: 0;
				}
			}
			.pintCream {
				max-width:125px;
				margin-top: 21%;
				z-index: 8;
				right:-61%;
				@include MQ(maxM) {
				max-width: 250px;
					margin-top: 0;
				}
			}
		}
	}
	.productImages {
		position: relative;
		min-height: 540px;
		.productName {
			@include MQ(maxML) {
				display: none;
			}
			opacity: 1;
			@include transition(all 0.35s ease);
		}
		h5 {
			font-size:22px;
			margin-top: 15px;
			position: relative;
			top:0;
			
		}
		p {
			&.factsLabel {
				border:1px solid black;
				border-radius: 55px;
				display: inline-block;
				padding: 1px 7px;
				margin-top: 8px;
				font-size:12px;
			}
		}
		.product {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			max-width: 250px;
			z-index: 10;
			cursor: pointer;
			@include transition(all 0.35s ease);
			img {
				@include transform(translate3d(0,0,0) scale(1));
				@include transition(all 0.35s ease);
			}


			@include MQ(maxM){
				position: relative;
				margin-bottom: 50px;
				img {
					position: relative;
					left:0;
					@include transition(all 0.35s ease);
				}
			}
			&:hover {
				img {
				@include transform(translate3d(0,0,0) scale(1.015));

				}
				
			}
			
			&.selected {
		
				right:58% ;
				z-index: 20;
				max-width:250px;
				margin-top:0;
				@include transform(scale(1));
				img {
					@include transform(translate3d(0,0,0) scale(1));
				}
				&:hover {
					//@include transform(scale(1.00));
				}
				@include MQ(maxM){
					right:100%;
					max-width: 100%;

					img {
						position: relative;
						left:-53%;
						max-width: 240px;
					}
				}
				.productName {
					opacity: 0;
				}
			}
			
		}
	}
	
}