$icon-font-path: '../fonts/';
// bower: scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_colors.scss";
@import "_font-icons.scss";
@import "_menu.scss";
@import "_hero.scss";
@import "_footer.scss";
@import "_homepage.scss";
// endbower


body, html {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  background-color: white;
  font-size: 16px;
  color: black;

}
body {

}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.desktop {
  display: none;

  @media (min-width:$screen-sm-min) {
    display: block;
  }
}
.mobile {
  display: block;

  @media (min-width:$screen-sm-min) {
    display: none;
  }
}

//fonts
h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt-condensed", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.625em;
}

h2 {
  font-size: 3.125em;
}

h3 {
  font-size: 2.5em;
}

h4 {

}

h5 {

}

h6 {
  font-size: .813em;
}

p {
  font-family: "futura-pt", sans-serif;
}

// Main
main {
  border-top: 1px solid $darkGrey;
  position: relative;
  z-index: 2;  /* fix bug on iOS */
  min-height: 100vh;
  overflow: hidden;
  background: white;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);

  @media (min-width:$screen-sm-min) {
    -webkit-transform: translateZ(0) !important;
    -moz-transform: translateZ(0) !important;
    -ms-transform: translateZ(0) !important;
    -o-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
  }
}
.mainContent {
  padding-top: 130px;
}
// Main Bottle
#mainBottle {
  width: 236px;
  left: 45%;
  margin: 15px 0 0px -118px;
  position: relative;
  z-index: 3;
  display: none;

  @media (min-width:$screen-sm-min) {
    left: 35%;
    display: block;
  }
  @media (min-width:$screen-md-min) {
    left: 50%;
  }
}

// Bottle Detail
.bottleDetail {
  padding-top: 4em;
  padding-bottom: 4em;

  background:white;
  h2 {
    text-align: center;
    margin-bottom: 1px;
    margin-top: 1px;
  }
}

// buttons
.btn {
  background-color: $white;
  border-radius: 2em;
  color: $black;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  padding: .4em .8em;
  text-transform: uppercase;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: $black;
  color: $white;
}