extends layouts/default

block content
  section.container-fluid.mainContent.hero.error-404
   .container
    .row
      .col-md-12
        h1 Something's missing.
        p It’s no fault of your own. But the page you’re looking for has most likely been eaten.<br>Looks like the internet has good taste. At times.

        p Try going back to the <a href="/">Home page</a> or check out our <a href="#">News for the latest updates from the farm</a>.

        a.btn.invert.center.hidden-lg.hidden-md(href="/") Home

