extends layouts/default

block content
  section.container-fluid.mainContent.hero.about
   .container
    .row
      .col-md-12
        h1 Milk At Its Finest.

  section.container-fluid.shattoStory
    .container
      .row
        .col-md-12
          p.center.largerCopy <b>Shatto Milk Company</b> is a small, family owned and operated, dairy farm located just north of the Kansas City metropolitan area. Our family has been farming here for more than 100 years and began a dairy farm more than 60 years ago. In June 2003 our family began processing our own milk on the farm. We decided to bottle our own milk for the purpose of providing our customers with the freshest and best tasting dairy products possible.
          p.center.largerCopy Shatto Milk Company products can be described by one simple statement that we have adopted as our motto, <b>MILK AT ITS FINEST</b>. Our family goes to great lengths to insure that the products we sell are truly the freshest and best tasting.
      .row
        .col-md-3
          img.center-block(src="images/no-rbst.png")
          h4.center No Hormones? <br> Yes Whey.
          p.center Our cows are never treated with rbST (recombinant bovine somatotropin) or rgBH (recombinant bovine growth hormone).
        .col-md-3
          img.center-block(src="images/our-cows.png")
          h4.center Our Milk. <br> Our Cows.
          p.center No offense to the bovines across the hill, but our milk only comes from our cows located on our family farm.
        .col-md-3
          img.center-block(src="images/clock.png")
          h4.center Udder to Store. <br> Under 24.
          p.center Shatto Milk can be from the cow to the store in as little as 12 hours. To beat that time, you’d need your own cow.
        .col-md-3
          img.center-block(src="images/clean-bottle.png")
          h4.center.pad2 Why Glass?
          p.center It stays cool, it looks cool and it’s cool with the environment. We wash and reuse our bottles as often as they are returned. Pretty cool, eh?
      .row
        .col-xs-12
          p.small.center <i>*No significant difference has been shown between milk derived from rbST-treated and non-rbST-treated cows.</i>

  section.container-fluid.scheduleTour
    .container
      .row
        .col-md-5.col-md-offset-6
          //- img.mobile(src="images/tours2-bg-placeholder.jpg")
          p.largeCopy To give you a true feel for where our milk comes from, how it is processed, and our packaging methods, we made a concerted effort to create a transparent processing plant. Our processing plant is a place where everyone is invited to visit and see firsthand how Shatto Milk Company produces the freshest milk around. Visit our <a href="#">Tours and Special Events page</a> for more information about touring our farm.
          p.largeCopy We invite you, your family, and all of your friends to visit us on our farm, take a tour or just check-out our country store anytime Monday through Friday 8 AM to 6 PM, and Saturday 8 AM to 4PM.
          a.btn(href="#").invert.center Schedule a tour

  section.container-fluid.findUs
    .container
      .row
        .col-md-6
          h2 Come Visit Us.
          h3 (And milk a cow and stuff.)

          h4 9406 N. HWY. 33 &bull; Osborn, MO 64474
          p <b>NOTE: The directions provided by Mapquest and Yahoo Maps are incorrect.<br>Please go by the directions on our website only.</b>

          h5 Directions From Kansas City:
          p Take I-35 North to Exit 40, Highway 116 • Turn West (Left) on Highway 116, go through Lathrop and head towards Plattsburg • About 4 miles West of Lathrop turn North on 33 Highway • Continue on 33 Highway about 8 miles until you see our farm on the East (Right) side of the road.

          h5 Directions From St. Joseph:
          p Take U.S. 36 East toward Cameron • Turn South (Right) on Highway 33, if you make it to the Osborn Junction you have gone too far • Proceed on Highway 33 South for 4 miles and you will see our farm on the left side of the road.

          a.btn(href="#").invert.center Find Shatto Near You

        .col-md-6
          img(src="images/map.png")
