extends layouts/default

block content
  div.events-tours
    section.container-fluid.mainContent.hero.events-tours
      .container
        .row
          .col-md-12
            h1 Events/Tours
    section.container-fluid.intro
      .container.center
        .row
          .col-md-10.col-md-offset-1
            p.largerCopy Here at Shatto Milk Company we are committed to educating our youth and believe everyone should all have the opportunity to learn that our food is produced on a farm and is not just a product at the local grocery store. Our goal is to make sure that your trip to our farm is a good learning experience where you will have fun and build memories that will last a lifetime!
        .row
          .col-md-6
            img(src="images/child-milking-cow.jpg")
            h2 Farm Tours
            p.largeCopy Tours of the dairy, processing and bottling facility are available by appointment, Tuesday – Saturday, typically at 10:30 a.m. Llimited space available.
            p.largeCopy Tours typically last 1.5 hours from start to finish. There is a $5 charge per person. Children two and under are free. Groups are welcome.
            a(href="#").btn.invert.center Schedule a Tour
          .col-md-6
            img(src="images/event-on-the-farm.jpg")
            h2 Shatto Events
            p.largeCopy When tours aren't enough, we say the more the merrier! And sometimes, we will bring the farm to you. Metaphorically speaking.
            p.largeCopy <a href="#">Check our Facebook page for our latest schedule</a> and make sure you <a href="#">sign up to receive Shatto News</a> so you don't miss anything.
            a(href="#").btn.invert.center Sign up for Shatto News
    section.container-fluid.farm-experience.center
      .container
        .row
          .col-md-12
            h2 The Shatto Farm Experience
            p.largeCopy <b>Learn how our milk gets from our farm to your table</b><br>(this includes a tour of the processing plant)
            p.largeCopy <b>View our bottling process and how we prep bottles for re-use</b>
            p.largeCopy <b>Meet baby calves</b><br>(you may possibly get to bottle-feed one yourself)
            p.largeCopy <b>Milk a cow</b>
            p.largeCopy <b>Get a first-hand look at where our cows live, what they eat, and how they are milked</b>
            p.largeCopy <b>Sample many of Shatto Milk Company's tasty products</b>

            p.largeCopy We do have an area where visitors can have a blanket picnic if desired.<br>These areas are only available when the weather is appropriate and the grass is dry.
    section.container-fluid.caution.center
      .container
        .row
          .col-md-12
            h2 Please Note
            p.largerCopy This is a working dairy farm. So wear comfy clothes. And shoes you wouldn’t mind introducing to some mud (and other stuff that looks like mud).

    section.container-fluid.country-store
      .container
        .row
          .col-md-10.col-md-offset-1.center
            h2 Don't Forget a cooler
            p.largeCopy Our country store is open seven days a week and will be open for you to browse through all of our products. We even have gift certificates and a variety of other items available.
    section.container-fluid.gallery
      .row
        .col-md-12.center
          h2 Some Views From the Farm
      .row
        .col-md-12.desktop
          img(src="//placehold.it/900x450")
          img(src="//placehold.it/450x900")
          img(src="//placehold.it/900x450")

    section.sign-up.center
      a(href="#").btn.blue.center Go Ahead and Schedule a Tour