extends layouts/default

block content
  section.container-fluid.mainContent.hero.faq
   .container
    .row
      .col-md-12
        h1 Frequently Asked Questions
    .row
      .col-sm-7
        .faqContainer
          p.question Does Shatto Milk Company use grown hormones?
          p.answer No.
        .faqContainer
          p.question How long has the dairy farm been active?
          p.answer answer
        .faqContainer
          p.question How many acres do you have?
          p.answer answer
        .faqContainer
          p.question How are the cows cared for?
          p.answer The cows are milked daily and receive personal attention to make sure that their health is maintained. Personal records are kept on each cow and calf to assure growth and development proceeds as normal. A local veterinarian is used whenever preventative health measures are required as well as checking in for any unexpected situations. They have covered shelter to rest or sleep and are provided a grazing area for their pleasure and comfort.
        .faqContainer
          p.question How many cows do you have?
          p.answer answer
        .faqContainer
          p.question How much milk does an average cow produce in a day?
          p.answer answer
        .faqContainer
          p.question What breed of cows do you have?
          p.answer answer
        .faqContainer
          p.question What do you feed your cows?
          p.answer answer
        .faqContainer
          p.question Can I visit the processing plant where Shatto Milk Company products are processed?
          p.answer answer
        .faqContainer
          p.question How is Shatto Milk Company different from other milk companies?
          p.answer answer
        .faqContainer
          p.question What products are sold by Shatto Milk Company?
          p.answer answer
        .faqContainer
          p.question Where can I buy Shatto Milk Company products?
          p.answer answer
        .faqContainer
          p.question Where can I return the glass bottles?
          p.answer answer
        .faqContainer
          p.question Why did you decide to use glass bottles instead of plastic?
          p.answer answer