extends layouts/default
block vars
	- var map = true
block content
	section.container-fluid.mapContainer
		#jlocator

			.mapOverlay
				div(data-type="panel")
					.controls(data-type="controls")
						.findInput
							input.form-control(type="text", placeholder="City, State or ZIP",  data-zoom="13", data-control-name="autocomplete", data-control-type="autocomplete", autocompelte="on")
					.stores(data-type="stores")
						.store(data-type="store",data-latitude="39.0936738", data-longitude="-94.589048", data-marker-icon="images/map-icon.png")
							p.milk
								span.title(data-type="title") Store 1<br/>
								span.address(data-type="address") 10 E 13th St, Kansas City, MO 64106<br/>
								span.phone(data-type="phone") (816)595-0050			
			.map(data-type='map')