extends layouts/default

block content
  section.container-fluid.mainContent.hero
   .container
    .row
      .col-md-12.desktop
        h1 Pure, honest milk. No bull.
        p At Shatto milk, nothing gets in the way of producing the freshest, most natural dairy products around. No hormones. No factory farms. No bull. Ok, a few bulls. We hope you'll understand.
        img#mainBottle(src="images/shatto-bottle-temp.png", alt="Shatto Milk")
        .callOut
          h2 Extra! Extra!
          p Lorem ipsum dolor sit amet, ius et paulo platonem molestiae, ad usu possit docendi inimicus. Et sed tota debet, no quo vitae sanctus philosophia.
      .col-xs-12.mobile
        object(type="image/svg+xml", data="images/mobile_hero.svg")

  section.container-fluid.bottleDetail.desktop
    .container
      .row
        .col-sm-12
          h2 The cows can’t speak.
          h2 So, we let the milk do the talking.
      .row
        .col-sm-3
          p info about milk
        .col-sm-6
          img(src="//placehold.it/540x1000?text=milk+bottle")
        .col-sm-3
          p more info about milk

  section.container-fluid.products
    .container
      .row
        .col-xs-12
          h2.desktop From Our Farm to Your Face.
          h2.mobile Products
      .row
        .col-sm-2.col-xs-6
          img(src="//placehold.it/175x325?text=Cheese")
          a(href="#") Cheese
        .col-sm-2.col-xs-6
          img(src="//placehold.it/175x325?text=Flavored+Milk")
          a(href="#") Flavored Milk
        .col-sm-2.col-xs-6
          img(src="//placehold.it/175x325?text=Milk")
          a(href="#") Milk
        .col-sm-2.col-xs-6
          img(src="//placehold.it/175x325?text=Ice+Cream")
          a(href="#") Ice Cream
        .col-sm-2.col-xs-6
          img(src="//placehold.it/175x325?text=Butter")
          a(href="#") Butter
        .col-sm-2.col-xs-6
          img(src="//placehold.it/175x325?text=Non-Dairy")
          a(href="#") Non-Dairy

  section.container-fluid.map
    .container
      .row
        .col-sm-5.col-sm-offset-7
          h3.desktop Why buy the cow,<br>when you can get the<br>milk down the street?
          h3.mobile Find Shatto Near You
          form.form-inline
            input.form-control(placeholder="ZIP Code")
            button.form-control.btn.invert GO
          br
          p.mobile
            a(href="#") Oh, just use my location. I'm not hiding.
          img.desktop(src="images/half-bottle.png")

  section.container-fluid.signUp.desktop
    .container
      .row
        .col-md-12
          h2 Get the Whole Story.<br>And the 2%, 1% And Skim.
          p.largerCopy Sign up to receive blog posts, news and updates from the Shatto Farm.
          form.form-inline
            input.form-control(placeholder="Email Address")
            button.form-control.btn.invert Sign Up

  section.container-fluid.tours
    .container
      .row
        .col-sm-4
          h3.desktop See the milk we<br>put into our milk.
          h3.mobile Come Tour the Farm
          p Go behind the stalls to discover how our milk is produced and bottled. And find out the secret ingredient we put into all our Shatto products. We’ll give you a hint. It’s milk.
          a.btn(href="#") Schedule a tour