extends layouts/default

block content
  #floatingTrigger
    section.container-fluid.mainContent.hero
     .container
      .row
        img.shadow(src="images/rotation/reflection.png")
        .col-md-12.desktop.text-center
          h1 Pure, honest milk. No bull.
          p At Shatto milk, nothing gets in the way of producing the freshest, most natural dairy products around.
          p No hormones. No factory farms. No bull. Ok, a few bulls. We hope you'll understand.
          .callOut
            h2 Extra! Extra!
            p Lorem ipsum dolor sit amet, ius et paulo platonem molestiae, ad usu possit docendi inimicus. Et sed tota debet, no quo vitae sanctus philosophia.
        .col-xs-12.mobile
          object(type="image/svg+xml", data="images/mobile_hero.svg")

    section.container-fluid.bottleDetail.desktop
      .container
        .row
          .col-sm-12
            h2 The cows can’t speak.
            h2 So, we let the milk do the talking.
            .stopPoint
        .row
          .col-sm-3
            .pod.pod1
              p Fresh, natural, wholesome milk. It speaks for itself. Still, there’s a story to be told about how that milk came to be. And a pretty interesting one at that.
            .pod.pod2
              p That’s why we equip every Shatto bottle with, well, a quip. It’s just our way of giving you a little insight into our process.
          .col-sm-6
          .col-sm-3
            .pod.pod3
              p Like the time our cows got into a patch of four-leaf clovers. That’s right, an entire patch. Lucky us, because the next day we had Mint Chocolate Milk.
            .pod.pod4
              p In the end, you’ll find that we’re pretty transparent here at our family farm. Maybe that’s why we started putting milk in glass bottles.
  section.container-fluid.products.visible
    .container.ML_Fluid
      .row
        .col-xs-12.visible-xs
          img(src="images/rotation/1.png", alt="Shatto Milk", srcset="images/rotation/1.png 1x, images/rotation/1_2x.png 2x", style="display:block; width:100%; max-width:270px; margin:0 auto; margin-bottom:25px;")
        .col-xs-12.title
          h2.desktop From Our Farm to Your Face.
          h2.mobile Products
      .row
          .col-md-12.productImages.home
            #floatingBottle
              a
                img#mainBottle(src="images/rotation/1.png", alt="Shatto Milk", srcset="images/rotation/1.png 1x, images/rotation/1_2x.png 2x", data-bottleposition="1").shown
                .productName.hidden-xs
                  h5 Milk
            a.product.milkButton.text-center.visible-xs(href="/products.html#milk")
              .productName
                h5 Milk
            a.product.juice.text-center(href="/products.html#juice")
              img(src="images/home/juice.png" srcset="images/home/juice.png 1x, images/home/juice_2x.png 2x") 
              .productName
                h5 Non-Dairy
            a.product.cheese.text-center(href="/products.html#cheese")
              img(src="images/home/cheese.png" srcset="images/home/cheese.png 1x, images/home/cheese_2x.png 2x")
              .productName
                h5 Cheese
            a.product.flavoredMilk.text-center(href="/products.html#flavoredMilk")
              img(src="images/home/flavored.png" srcset="images/home/flavored.png 1x, images/home/flavored_2x.png 2x")
              .productName
                h5 Flavored Milk
            a.product.iceCream.text-center(href="/products.html#iceCream")
              img(src="images/home/iceCream.png" srcset="images/home/iceCream.png 1x, images/home/iceCream_2x.png 2x")
              .productName
                h5 Ice Cream
            a.product.butter.text-center(href="/products.html#butter")
              img(src="images/home/butter.png" srcset="images/home/butter.png 1x, images/home/butter_2x.png 2x")
              .productName
                h5 Butter
  section.container-fluid.mapFinder
    .row
      .col-sm-6.col-sm-offset-6.setHeight
        .findText
          h3.desktop Why buy the cow, when you can get the milk down the street?
          h3.mobile Find Shatto Near You
          form.form-inline
            input.form-control(placeholder="ZIP Code")
            button.form-control.btn.invert GO
          br.hidden-xs
          p.mobile
            a(href="#") Oh, just use my location. I'm not hiding.
  section.container-fluid.signUp.desktop
    .container
      .row
        .col-md-12
          h2 Get the Whole Story.<br>And the 2%, 1% And Skim.
          p.largeCopy Sign up to receive blog posts, news and updates from the Shatto Farm.
          form.form-inline
            input.form-control(placeholder="Email Address")
            button.form-control.btn.invert Sign Up

  section.container-fluid.tours.parallax(data-speed="10")
    .container
      .row
        .col-sm-4
          h3.desktop See the milk we<br>put into our milk.
          h3.mobile Come Tour the Farm
          p Go behind the stalls to discover how our milk is produced and bottled. And find out the secret ingredient we put into all our Shatto products. We’ll give you a hint. It’s milk.
          a.btn(href="#") Schedule a tour