extends layouts/default

block content
  .container-fluid.mainContent.hero
   .container
    .row
      .col-md-12
        h1 Pure, honest milk. No bull.
        p At Shatto milk, nothing gets in the way of producing the freshest, most natural dairy products around. No hormones. No factory farms. No bull. Ok, a few bulls. We hope you'll understand.
     
      