extends layouts/default

block content
  .container-fluid.mainContent.hero
   .container
    .row
      .col-md-12.desktop
        h1 Pure, honest milk. No bull.
        p At Shatto milk, nothing gets in the way of producing the freshest, most natural dairy products around. No hormones. No factory farms. No bull. Ok, a few bulls. We hope you'll understand.
        img#mainBottle(src="images/shatto-bottle-temp.png", alt="Shatto Milk")
        .callOut
          h2 Extra! Extra!
          p Lorem ipsum dolor sit amet, ius et paulo platonem molestiae, ad usu possit docendi inimicus. Et sed tota debet, no quo vitae sanctus philosophia.
      .col-xs-12.mobile
        object(type="image/svg+xml", data="images/mobile_hero.svg")
  .container-fluid.bottleDetail
    .container
      .row
        .col-md-12.desktop
          h2 The cows can’t speak.
          h2 So, we let the milk do the talking.   