extends layouts/default

block content
	div#trigger
	section.mainContent.productPage.hero
		.container
			.caps
				.cap.LBCap
					img(src="images/products/lightBlue_cap.png")
				.cap.greenCap
					img(src="images/products/green_cap.png")
				.cap.redCap
					img(src="images/products/red_cap.png")
				.cap.yellowCap
					img(src="images/products/yellow_cap.png")
				.cap.goldCap
					img(src="images/products/gold_cap.png")
				.cap.silverCap.visible-lg
					img(src="images/products/silver_cap.png")
				.cap.pinkCap
					img(src="images/products/pink_cap.png")
				.cap.blackCap.visible-lg
					img(src="images/products/black_cap.png")
				.cap.clearCap.visible-lg
					img(src="images/products/clear_cap.png")
				.cap.blueCap
					img(src="images/products/blue_cap.png")
				.cap.brownCap.visible-lg
					img(src="images/products/brown_cap.png")
			.row
				.col-md-12.text-center
					img(src="images/shatto.svg").productLogo
		.container-fluid.subMenu
			.row
				.col-md-12.table
					ul
						li
							a(href="#milk").btn.invert Milk
						li
							a(href="#flavoredMilk").btn.invert Flavored Milk
						li
							a(href="#iceCream").btn.invert Ice Cream
						li
							a(href="#cheese").btn.invert Cheese
						li
							a(href="#").btn.invert Butter
						li
							a(href="#").btn.invert Non-dairy
	#mobileCollapse
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#milk", aria-controls="milk") MILK
		section.productPage.productSection.collapse(role="tabpanel")#milk
			.container.ML_Fluid
				.row.hidden-xs
					.col-md-12.text-center.productTitle
						h2 MILK
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.twoPercent.trigger.text-center(data-product="HG_twoPercent")
							.shadowContainer
								img.main(src="images/products/half-gallons/1/two.png" srcset="images/products/half-gallons/1/two.png 1x, images/products/half-gallons/2/two_2x.png 2x", width="226")
								.bottleShadow
									img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 2% 
								p.factsLabel Nutrition Facts
						.product.onePercent.trigger.text-center(data-product="HG_onePercent")
							.shadowContainer
								img.main(src="images/products/half-gallons/1/one.png" srcset="images/products/half-gallons/1/one.png 1x, images/products/half-gallons/2/one_2x.png 2x", width="273")
								.bottleShadow
									img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 1% 
								p.factsLabel Nutrition Facts		
						.product.trigger.text-center.front(data-product="HG_skim")
							.shadowContainer
								img.main(src="images/products/half-gallons/1/Skim.png" srcset="images/products/half-gallons/1/Skim.png 1x, images/products/half-gallons/2/Skim_2x.png 2x")
								.bottleShadow
									img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Skim
								p.factsLabel Nutrition Facts
						.product.whole.trigger.text-center(data-product="HG_whole")
							.shadowContainer
								img.main(src="images/products/half-gallons/1/Whole.png" srcset="images/products/half-gallons/1/Whole.png 1x, images/products/half-gallons/2/Whole_2x.png 2x")
								.bottleShadow
									img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Whole
								p.factsLabel Nutrition Facts
						.product.halfCream.trigger.text-center(data-product="pint_halfHalf")
							.shadowContainer
								img.main(src="images/products/pints/HalfHalf.png" srcset="images/products/pints/HalfHalf.png 1x, images/products/pints/HalfHalf_2x.png 2x")
								.bottleShadow
									img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Half/Half
								p.factsLabel Nutrition Facts
						.product.pintCream.trigger.text-center(data-product="pint_cream")
							.shadowContainer
								img.main(src="images/products/pints/HeavyCream.png" srcset="images/products/pints/HeavyCream.png 1x, images/products/pints/HeavyCream_2x.png 2x")
								.bottleShadow
									img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Whole Cream
								p.factsLabel Nutrition Facts
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#flavoredMilk", aria-controls="flavored milk") FLAVORED MILK							
		section.productPage.productSection.collapse(role="tabpanel")#flavoredMilk
			.container.ML_Fluid
				.row.hidden-xs
					.col-md-12.text-center.productTitle
						h2 FLAVORED MILK
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.trigger.text-center.chocolate(data-product="chocolate")
							img.main(src="images/products/quarts/1x/Chocolate.png" srcset="images/products/quarts/1x/Chocolate.png 1x, images/products/quarts/2x/Chocolate.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Chocolate
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.strawberry(data-product="strawberry")
							img.main(src="images/products/quarts/1x/Strawberry.png" srcset="images/products/quarts/1x/Strawberry.png 1x, images/products/quarts/2x/Strawberry.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Strawberry
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.cookies_N_Cream(data-product="cookies_N_Cream")
							img.main(src="images/products/quarts/1x/cookiesandCream.png" srcset="images/products/quarts/1x/cookiesandCream.png 1x, images/products/quarts/2x/cookiesandCream.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Cookies N' Cream
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.banana(data-product="banana")
							img.main(src="images/products/quarts/1x/Banana.png" srcset="images/products/quarts/1x/Banana.png 1x, images/products/quarts/2x/Banana.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Banana
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.cottonCandy(data-product="cottonCandy")
							img.main(src="images/products/quarts/1x/cottonCandy.png" srcset="images/products/quarts/1x/cottonCandy.png 1x, images/products/quarts/2x/cottonCandy.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Cotton Candy
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.coffee(data-product="coffee")
							img.main(src="images/products/quarts/1x/Coffee.png" srcset="images/products/quarts/1x/Coffee.png 1x, images/products/quarts/2x/Coffee.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Coffee
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.eggNog(data-product="eggNog")
							img.main(src="images/products/quarts/1x/eggNog.png" srcset="images/products/quarts/1x/eggNog.png 1x, images/products/quarts/2x/eggNog.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Egg Nog
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.rootBeer(data-product="rootBeer")
							img.main(src="images/products/quarts/1x/RootBeer.png" srcset="images/products/quarts/1x/RootBeer.png 1x, images/products/quarts/2x/RootBeer.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Root Beer
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.pumpkinSpiceEggNog(data-product="pumpkinSpiceEggNog")
							img.main(src="images/products/quarts/1x/PumpkinSpiceEggNog.png" srcset="images/products/quarts/1x/PumpkinSpiceEggNog.png 1x, images/products/quarts/2x/PumpkinSpiceEggNog.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Pumpkin Spice Egg Nog
								p.factsLabel Nutrition Facts
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#iceCream", aria-controls="Ice Cream") ICE CREAM
		section.productPage.productSection.collapse(role="tabpanel")#iceCream
			.container.ML_Fluid
				.row.hidden-xs
					.col-md-12.text-center.productTitle
						h2 ICE CREAM
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.trigger.text-center.vanilla(data-product="Vanilla")
							img.main(src="images/products/icecream-pints/1x/Vanilla.png" srcset="images/products/icecream-pints/1x/Vanilla.png 1x, images/products/icecream-pints/2x/Vanilla.png 2x")
							.bottleShadow
								img(src="images/products/icecream-pints/shadow.png")
							.productName
								h5 Vanilla
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.strawberryIceCream(data-product="Strawberry")
							img.main(src="images/products/icecream-pints/1x/Strawberry.png" srcset="images/products/icecream-pints/1x/Strawberry.png 1x, images/products/icecream-pints/2x/Strawberry.png 2x")
							.bottleShadow
								img(src="images/products/icecream-pints/shadow.png")
							.productName
								h5 Strawberry
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.chocolateIceCream(data-product="Chocolate")
							img.main(src="images/products/icecream-pints/1x/Chocolate.png" srcset="images/products/icecream-pints/1x/Chocolate.png 1x, images/products/icecream-pints/2x/Chocolate.png 2x")
							.bottleShadow
								img(src="images/products/icecream-pints/shadow.png")
							.productName
								h5 Chocolate
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.caramelSeaSalt(data-product="CaramelSeaSalt")
							img.main(src="images/products/icecream-pints/1x/CaramelSeaSalt.png" srcset="images/products/icecream-pints/1x/CaramelSeaSalt.png 1x, images/products/icecream-pints/2x/CaramelSeaSalt.png 2x")
							.bottleShadow
								img(src="images/products/icecream-pints/shadow.png")
							.productName
								h5 Caramel Sea Salt
								p.factsLabel Nutrition Facts
				.row
					.col-md-12.productImages
						.product.trigger.text-center.bar.oatmealRaisin(data-product="oatmealRaisin")
							img.main(src="images/products/icecream-bars/1x/oatmealRaisin.png" srcset="images/products/icecream-bars/1x/oatmealRaisin.png 1x, images/products/icecream-bars/2x/oatmealRaisin.png 2x")
							.bottleShadow
								img(src="images/products/icecream-pints/shadow.png")
							.productName
								h5 Oatmeal raisin cookie and caramel sea salt ice cream
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.bar.sugarCookie(data-product="sugarCookie")
							img.main(src="images/products/icecream-bars/1x/SugarCookie.png" srcset="images/products/icecream-bars/1x/SugarCookie.png 1x, images/products/icecream-bars/2x/SugarCookie.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Sugar cookie and strawberry ice cream
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.bar.chocolateChip(data-product="ChocolateChip")
							img.main(src="images/products/icecream-bars/1x/ChocolateChip.png" srcset="images/products/icecream-bars/1x/ChocolateChip.png 1x, images/products/icecream-bars/2x/ChocolateChip.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Chocolate chip cookie and vanilla ice cream
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.bar.brownie(data-product="Brownie")
							img.main(src="images/products/icecream-bars/1x/Brownie.png" srcset="images/products/icecream-bars/1x/Brownie.png 1x, images/products/icecream-bars/2x/Brownie.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Chocolate brownie and vanilla ice cream
								p.factsLabel Nutrition Facts
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#cheese", aria-controls="Cheese") CHEESE
		section.productPage.productSection.collapse(role="tabpanel")#cheese
			.container.ML_Fluid
				.row.hidden-xs
					.col-md-12.text-center.productTitle
						h2 CHEESE
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.trigger.text-center.cajun(data-product="Cajun")
							img.main(src="images/products/cheese-curds/1x/Cajun.png" srcset="images/products/cheese-curds/1x/Cajun.png 1x, images/products/cheese-curds/2x/Cajun.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Cajun-flavored Cheddar Cheese Curds
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.whiteCheddar(data-product="whiteCheddar")
							img.main(src="images/products/cheese-curds/1x/WhiteCheddar.png" srcset="images/products/cheese-curds/1x/WhiteCheddar.png 1x, images/products/cheese-curds/2x/WhiteCheddar.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 White CheDdar Cheese Curds 
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.dill(data-product="Dill")
							img.main(src="images/products/cheese-curds/1x/Dill.png" srcset="images/products/cheese-curds/1x/Dill.png 1x, images/products/cheese-curds/2x/Dill.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Dill-flavored Cheddar Cheese Curds
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.mushroomGarlic(data-product="MushroomGarlic")
							img.main(src="images/products/cheese-curds/1x/MushroomGarlic.png" srcset="images/products/cheese-curds/1x/MushroomGarlic.png 1x, images/products/cheese-curds/2x/MushroomGarlic.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Garlic Mushroom Cheddar Cheese Curds
								p.factsLabel Nutrition Facts
				//- Big cheese First Row
				.row#cheeseOne
					.col-md-12.productImages
						.product.trigger.text-center.plattsburg(data-product="platsburg")
							img.main(src="images/products/cheese/plattsburg/1x/plattsburg.png" srcset="images/products/cheese/plattsburg/1x/plattsburg.png 1x, images/products/cheese/plattsburg/2x/plattsburg.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Plattsburg <span class="smaller">(A gouda style cheese)</span>
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.smithFork(data-product="smithFork")
							img.main(src="images/products/cheese/smith/1x/smith.png" srcset="images/products/cheese/smith/1x/smith.png 1x, images/products/cheese/smith/2x/smith.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Smith Fork <span class="smaller">(A cheddar style cheese)</span>
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.winstead(data-product="winstead")
							img.main(src="images/products/cheese/winstead/1x/winstead.png" srcset="images/products/cheese/winstead/1x/winstead.png 1x, images/products/cheese/winstead/2x/winstead.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Winstead Reserve <span class="smaller">(A havarti style cheese)</span>
								p.factsLabel Nutrition Facts
				.row#cheeseTwo
					.col-md-12.productImages
						.product.trigger.text-center.wexford(data-product="wexford")
							img.main(src="images/products/cheese/wexford/1x/wexford.png" srcset="images/products/cheese/wexford/1x/wexford.png 1x, images/products/cheese/wexford/2x/wexford.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Wexford <span class="smaller">(A Shatto original with a bite)</span>
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.lilly(data-product="lilly")
							img.main(src="images/products/cheese/lilly/1x/lilly.png" srcset="images/products/cheese/lilly/1x/lilly.png 1x, images/products/cheese/lilly/2x/lilly.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Lilly <span class="smaller">(A Shatto original that makes a strong statement)</span>
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.perrin(data-product="perrin")
							img.main(src="images/products/cheese/perrin/1x/perrin.png" srcset="images/products/cheese/perrin/1x/perrin.png 1x, images/products/cheese/perrin/2x/perrin.png 2x")
							.bottleShadow
								img(src="images/products/half-gallons/shadow.png")
							.productName
								h5 Perrin <span class="smaller">(A Shatto original with a mild manner)</span>
								p.factsLabel Nutrition Facts
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#butter", aria-controls="Butter") BUTTER
		section.productPage.productSection.collapse(role="tabpanel")#butter
			.container.ML_Fluid
				.row.hidden-xs
					.col-md-12.text-center.productTitle
						h2 BUTTER
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.trigger.text-center.garlic(data-product="garlicButter")
							img.main(src="images/products/butter/garlic/1x.png" srcset="images/products/butter/garlic/1x.png 1x, images/products/butter/garlic/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 Garlic Butter
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.honey(data-product="honeyButter")
							img.main(src="images/products/butter/honey/1x.png" srcset="images/products/butter/honey/1x.png 1x, images/products/butter/honey/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 Honey Butter
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.plain(data-product="plainButter")
							img.main(src="images/products/butter/plain/1x.png" srcset="images/products/butter/plain/1x.png 1x, images/products/butter/plain/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 Plain Ol' Butter
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.unsalted(data-product="unsaltedButter")
							img.main(src="images/products/unsalted/garlic/1x.png" srcset="images/products/butter/unsalted/1x.png 1x, images/products/butter/unsalted/2x.png 2x", alt="Unsalted Butter")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 Unsalted Butter
								p.factsLabel Nutrition Facts
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#nonDairy", aria-controls="Non-Dairy") NON-DAIRY						
		section.productPage.productSection.collapse(role="tabpanel")#nonDairy
			.container.ML_Fluid
				.row.hidden-xs
					.col-md-12.text-center.productTitle
						h2 NON-DAIRY
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.trigger.text-center.unsweetenedTea(data-product="unsweetenedTea")
							img.main(src="images/products/juices/iceTea/1x.png" srcset="images/products/juices/iceTea/1x.png 1x, images/products/juices/iceTea/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 UNSWEETENED TEA
								p.factsLabel Nutrition Facts
						.product.trigger.text-center.fruitPunch(data-product="fruitPunch")
							img.main(src="images/products/juices/fruitPunch/1x.png" srcset="images/products/juices/fruitPunch/1x.png 1x, images/products/juices/fruitPunch/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 FRUIT PUNCH
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.lemonade(data-product="lemonade")
							img.main(src="images/products/juices/lemon/1x.png" srcset="images/products/juices/lemon/1x.png 1x, images/products/juices/lemon/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 Lemonade
								p.factsLabel Nutrition Facts	
						.product.trigger.text-center.orangeDrink(data-product="orangeDrink")
							img.main(src="images/products/juices/orange/1x.png" srcset="images/products/juices/orange/1x.png 1x, images/products/juices/orange/2x.png 2x")
							.bottleShadow
								img(src="images/products/butter/shadow.png")
							.productName
								h5 Orange Drink
								p.factsLabel Nutrition Facts						
	.popUp_info__overlay
	.popUp_info
		.popUp_info__content
			.row
				.popUp_close
				.col-lg-9.col-sm-10
					ul
						li Flavor One
						li Flavor Two
						li Flavor Three
					.nutritionFacts
						.row
							.col-sm-12.top
								.row.tableRow
									.col-md-5.col-lg-6.nutFacts
										h2 Nutrition Facts
									.col-md-4.col-lg-3.servingSize
										p Serving size 1 package
										p Amount per package
									.col-md-3.col-lg-3.calories
										h3 Calories&nbsp;
											span 45
								.row
									.col-sm-12
										.border
						.row
							.col-lg-10.col-md-8.middle
								.row
									.col-lg-12
										.row
											.col-sm-4.column
												p
													span.dailyValue 2% DV
													span.title.bold Total Fat
													span.weight 1g
												p
													span.dailyValue 2% DV
													span.title.bold Total Fat
													span.weight 1g	
											.col-sm-4.column
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g
											.col-sm-4.column
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g		
								.row
									.col-sm-12
										.border.smaller
										.row.attributes
											.col-sm-2
												p
													span.bold Protein
													| &nbsp;
													span.protein 1g
											.col-sm-10
												ul
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
							.col-lg-2.col-md-4.footnotes
								
								p Abbrev. footnote statement to be inserted here.
					.ingredients
						p
							span Ingredients:
							| MILK, CREAM, SUGAR, CORN SYRUP, EGG YOLKS, WHEY, CAROB BEAN GUM, MONO AND DIGLYCERIDES, VANILLA BEANS*, NATURAL FLAVOR, RUM, NATURAL VANILLA FLAVOR*, TARA GUM, ANNATTO (FOR COLOR), GUAR GUM, SALT. Ingredients and Nutrition Facts are current as of 2/11/15. Please see shelf packaging for any changes.
				.col-lg-3.col-sm-2.sizes
					p Available Sizes:
					ul
						li
							h2 Gallon
						li
							h2 Half Gallon
						li
							h2 Pint