extends layouts/default

block content
	div#trigger
	section.container-fluid.mainContent.productPage.hero
		.container
			.caps
				.cap.LBCap
					img(src="images/products/lightBlue_cap.png")
				.cap.greenCap
					img(src="images/products/green_cap.png")
				.cap.redCap
					img(src="images/products/red_cap.png")
				.cap.yellowCap
					img(src="images/products/yellow_cap.png")
				.cap.goldCap
					img(src="images/products/gold_cap.png")
				.cap.silverCap.visible-lg
					img(src="images/products/silver_cap.png")
				.cap.pinkCap
					img(src="images/products/pink_cap.png")
				.cap.blackCap.visible-lg
					img(src="images/products/black_cap.png")
				.cap.clearCap.visible-lg
					img(src="images/products/clear_cap.png")
				.cap.blueCap.visible-lg
					img(src="images/products/blue_cap.png")
				.cap.brownCap.visible-lg
					img(src="images/products/brown_cap.png")
			.row
				.col-md-12.text-center
					h1 Milk At Its Finest.
					.row
						.col-md-6.col-md-offset-3.text-center
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac tortor dolor. Phasellus cursus lacus ut mi tristique, non condimentum felis pretium. Suspendisse tempus leo sodales orci pulvinar, ac pellentesque est eleifend. Sed elementum orci lacus, in pellentesque dolor ultricie. 
		.container-fluid.subMenu
			.row
				.col-md-12.table
					ul
						li
							a(href="#milk").btn.invert Milk
						li
							a(href="#").btn.invert Flavored Milk
						li
							a(href="#").btn.invert Ice Cream
						li
							a(href="#").btn.invert Cheese
						li
							a(href="#").btn.invert Butter
						li
							a(href="#").btn.invert Non-dairy
	#mobileCollapse
		a.mobileCategory.collapsed(data-toggle="collapse", data-parent="#mobileCollapse", href="#milk", aria-controls="milk") MILK
		section.container-fluid.productPage.productSection.collapse(role="tabpanel")#milk
			.container
				.row.hidden-sm.hidden-xs
					.col-md-12.text-center.productTitle
						h2 MILK
						.milkLines.lines
				.row
					.col-md-12.productImages
						.product.trigger(data-product="HG_skim")
							img(src="images/products/half-gallons/ShattoMilk_HalfGallon_Skim.png" srcset="images/products/half-gallons/ShattoMilk_HalfGallon_Skim_2x.png")
						.product.onePercent.trigger(data-product="HG_1percent")
							img(src="images/products/half-gallons/ShattoMilk_HalfGallon_1Percent.png" srcset="images/products/half-gallons/ShattoMilk_HalfGallon_1Percent_2x.png")
		section.container-fluid.productPage.productSection#flavoredMilk
			.container
				.row
					.col-md-12.text-center.productTitle
						h2 Flavored Milk
						.flavoredLines.lines
				.row
					.col-md-12.productImages
						img(src="images/products/milkPlaceholder.png" )
	.popUp_info__overlay
	.popUp_info
		.popUp_info__content
			.row
				.popUp_close
				.col-lg-9.col-sm-10
					ul
						li Flavor One
						li Flavor Two
						li Flavor Three
					.nutritionFacts
						.row
							.col-sm-12.top
								.row.tableRow
									.col-md-5.col-lg-6.nutFacts
										h2 Nutrition Facts
									.col-md-4.col-lg-3.servingSize
										p Serving size 1 package
										p Amount per package
									.col-md-3.col-lg-3.calories
										h3 Calories&nbsp;
											span 45
								.row
									.col-sm-12
										.border
						.row
							.col-lg-10.col-md-8.middle
								.row
									.col-lg-12
										.row
											.col-sm-4.column
												p
													span.dailyValue 2% DV
													span.title.bold Total Fat
													span.weight 1g
												p
													span.dailyValue 2% DV
													span.title.bold Total Fat
													span.weight 1g	
											.col-sm-4.column
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g
											.col-sm-4.column
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g
												p
													span.dailyValue 3% DV
													span.title.bold Total Fat
													span.weight 2g		
								.row
									.col-sm-12
										.border.smaller
										.row.attributes
											.col-sm-2
												p
													span.bold Protein
													| &nbsp;
													span.protein 1g
											.col-sm-10
												ul
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
													li
														span.percent 2
														| % DV 
														span.attribute Vitamin D
							.col-lg-2.col-md-4.footnotes
								
								p Abbrev. footnote statement to be inserted here.
					.ingredients
						p
							span Ingredients:
							| MILK, CREAM, SUGAR, CORN SYRUP, EGG YOLKS, WHEY, CAROB BEAN GUM, MONO AND DIGLYCERIDES, VANILLA BEANS*, NATURAL FLAVOR, RUM, NATURAL VANILLA FLAVOR*, TARA GUM, ANNATTO (FOR COLOR), GUAR GUM, SALT. Ingredients and Nutrition Facts are current as of 2/11/15. Please see shelf packaging for any changes.
				.col-lg-3.col-sm-2.sizes
					p Available Sizes:
					ul
						li
							h2 Gallon
						li
							h2 Half Gallon
						li
							h2 Pint