.footer.container
  .row
    .col-md-3
      | shatto logo
      | shatto company info
    .col-md-2.col-md-offset-1
      h6 Products
      ul
        li Milk
        li Flavored Milks
        li Cheeses
        li Butter
        li Ice Crean
        li Non-Dairy
    .col-md-2
      h6 Tours / Events
      ul
        li Photos
      br
      h6 Store Locator
      br
      h6 Merchandise
    .col-md-2
      .icons
      .address
        p 9406 N. HWY. 33
      .copy
        p &copy; Shatto Milk Company